<ul class="authenticators">
  <% for authenticator in @authenticators -%>
    <li><%= link_to t(:link, :scope => [:simple_authentication, :authenticators, authenticator.identifier]),
      new_login_with_authenticator_url(:authenticator => authenticator.identifier) %></li>
  <% end -%>
</ul>
